.Contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;

    h2 {
        text-transform: capitalize;
        .tch {
            color: rgb(46, 46, 228);
        }
    }

    .getp {
        text-align: center;
    }

    .conSec {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .left > h3{
        text-transform: capitalize;
    }

    .left {
        .leftBox {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 15px;
            margin-top: 30px;

            .leftIcon {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: rgba(8, 1, 39, 0.726);

                svg {
                    color: rgb(142, 131, 245);
                    width: 22px;
                }
            }

            .txts {
                h3 {
                    text-transform: capitalize;
                }
            }
        }

        .connect {
            text-transform: capitalize;
            margin-top: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .conicon {
                display: flex;
                gap: 10px;
                margin-top: 5px;
                
                svg {
                    transition: .3s;
                    cursor: pointer;

                    &:hover {
                        color: rgb(142, 131, 245);
                    }
                }
            }
        }
    }

    .right {
        background-color: rgba(8, 1, 39, 0.726);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 25px;
        color: white;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            gap: 20px;

            .inp {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 7px;

                label {
                    text-transform: capitalize;
                }

                input {
                    border: none;
                    background-color: rgb(5, 1, 19);
                    text-align: center;
                    outline: none;
                }

                textarea {
                    border: none;
                    background-color: rgb(5, 1, 19);
                    text-align: center;
                    outline: none;
                    height: 50px;
                }
            }

            .msgBtn {
                background-color: rgb(120, 107, 235);
                text-transform: capitalize;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                color: rgb(5, 1, 19);
                font-weight: 600;
                transition: .3s;
                border-radius: 15px;

                &:hover {
                    background-color: rgba(120, 107, 235, 0.658);
                }
                
                svg {
                    transform: rotate(-50deg);
                }
            }
        }
    }
}