@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #02011f;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #010522 #ffffff;
  scroll-behavior: smooth;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}